$메인색상 : #2a4c6e;
$서브색상 : #333333;
$기본사이즈 : 16px;

.text {
    color: $메인색상;
}

.box {
    background: $서브색상;
    /* 
        덧셈뺄셈은 px 단위는 px단위끼리, %단위는 %단위끼리 맞춰야하고,
        곱셈 나눗셈은 보통 뒤에 단위를 쓰지 않는다. 쓰면 이상한 자료형이 된다.
        곱셈 나눗셈은 괄호 안에 작성해야 한다.
    */
    font-size: $기본사이즈 + 2px;
    width: (100px * 2);
    height: (300px / 3);
}